<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro - Componentes VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <cadastro></cadastro>
    </div>
  </body>
  <script>
    Vue.component("cadastro", {
      template: `
        <div>
            <input type="text" placeholder="Nome" v-model="pessoaAtual.nome" />
            <input type="text" placeholder="Idade" v-model="pessoaAtual.idade" />
            <input type="text" placeholder="Sexo" v-model="pessoaAtual.sexo" />

            <button @click="salvar">Salvar</button>

            <ol>
                <ul>
                <li v-for="pessoa in pessoas">
                    {{pessoa.nome}} | {{pessoa.idade}} | {{pessoa.sexo}}
                </li>
                </ul>
            </ol>
        </div>
        `,
      data() {
        return {
          pessoaAtual: {},
          pessoas: []
        }
      },
      methods: {
        salvar() {
          this.pessoas.push(this.pessoaAtual)
          this.pessoaAtual = {}
        }
      }
    })

    var app = new Vue({
      el: "#app",
      data() {
        return {}
      },
      methods: {}
    })
  </script>
</html>
